.pablo2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: green;
}
.pablo {
    padding: 10px;
    margin-top: 8px;
    margin: 6px;
}
main {
    text-align: center;
}
.form1 {
    padding: 6px;
}
body.main.form {
    margin-top: 10px;
}
main {
    background-color: brown;
    padding: 10px;
    margin: 10px;
}